* {
margin: 0;
8
29
130
3
nav f
color: Ired;
}
#hero-section {
color: Oblue;
}
#our story-section{
color: Ogreen;
7
#watch-section {
color: Udarkred;
}
#expertise-section {
color: Ufuchsia;
}
#team-section f
color: Lyellowgreen;
}
#contact client-section{
color: lightsalmon;
}
footer f {
color: Oblueviolet;
}